*{
    top:0;
    margin: 0;
    background-color: rgb(192, 102, 152);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.details{
    display:flex;
    flex-direction: column;
}
.details ul li{
    margin-top: 10px;
}
ul li{
    list-style: none;
    font-size: large;
}
.skills li{
    font-size: large;
    margin-top: 10px;
}
.cert strong{
    margin-top: 10px;
}
.cert li{
    margin-top: 10px;
}
.social{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.media{
    display: flex;
    flex-direction:column ;
    padding-top: 10px;
}
